/* Override AtlantaFX default Nord theme table view style */
.table-view > .column-header-background .column-header .label {
    -fx-text-fill: -color-fg-default;
    -fx-alignment: CENTER;
}

/* Adjust styles to use AtlantaFX Nord color scheme
*  Also, by using AtlantaFx's Nord colors it will
*  automatically adjust colors to dark/light theme
*/
.cell-spreadsheet .table-row-cell {
    -fx-background-color: transparent;
}

/* NORMAL CELL */
.spreadsheet-cell:filled:selected,
.spreadsheet-cell:filled:focused:selected,
.spreadsheet-cell:filled:focused:selected:hover {
    -fx-background-color: -color-neutral-emphasis;
    -fx-border-color: -color-border-muted;
    -fx-border-width: 1px;
    -fx-text-fill: -color-fg-emphasis;

}

.spreadsheet-cell:hover,
.spreadsheet-cell:filled:focused {
    -fx-background-color: -color-neutral-emphasis;
    -fx-text-fill: -color-fg-emphasis;
    -fx-background-insets: 0, 0 0 1 0;
}

.spreadsheet-cell {
    -fx-padding: 0 0 0 0.2em;
    -fx-border-color: -color-border-subtle;
    -fx-border-width: 1px;
    -fx-text-fill: -color-fg-default;
    -fx-background-color: -color-bg-default;
}

/* HORIZONTAL AND VERTICAL HEADER SELECTION */
VerticalHeader > Label,
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column {
    -fx-background-color: -color-bg-default;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -color-fg-default;
    -fx-alignment: center;
    -fx-font-style: normal;
}

VerticalHeader > Label.selected {
    -fx-background-color: -color-neutral-emphasis-plus;
    -fx-text-fill: -color-fg-emphasis;
}

HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected,
HorizontalHeaderColumn > TableColumnHeader.column-header.table-column.selected .label {
    -fx-background-color: -color-neutral-emphasis-plus;
    -fx-text-fill: -color-fg-emphasis;
}

/* HORIZONTAL HEADER VISIBILITY */
.column-header-background.invisible {
    visibility: hidden;
    -fx-padding: -1em;
}

.column-header-background,
.table-view .filler {
    -fx-background-color: transparent;
}

.picker-label:hover {
    /*-fx-effect:dropshadow(gaussian, black, 10, 0.1, 0, 0);*/
    -fx-cursor: hand;
}

/* We don't want to show the white background both for TextField
and textArea. We want it to be transparent just like Excel.

Also we need to shift to the left the editor a bit*/
CellView > .text-input.text-field {
    -fx-padding: 0 0 0 -0.2em;
    -fx-background-color: transparent;
}

CellView > .text-input.text-area,
CellView > TextArea .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* I shift by 3px, it's not clean but it works for normal row (24px) as it
centers the textArea.*/
CellView > TextArea .scroll-pane {
    -fx-padding: 3px 0 0 -0.15em;
}

CellView > TextArea .scroll-pane > .viewport .content {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

/* The scrollBars must always have the same size because we may have
really big font in the editor (48px) and the scrollBars become obese otherwise.*/
CellView > TextArea .scroll-bar:vertical,
CellView > TextArea .scroll-bar:horizontal {
    -fx-font-size: 1em;
}

.selection-rectangle {
    -fx-fill: transparent;
    -fx-stroke: -color-border-default;
    -fx-stroke-width: 2;
}

.spreadsheet-cell .filter-menu-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 1;
}

.spreadsheet-cell .filter-menu-button > .label {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.spreadsheet-cell .filter-menu-button:hover {
    -fx-cursor: hand;
}